body {
  --header-height: 80px;
  --footer-height: 80px;
}
#content {
  margin-top: calc(var(--header-height) + 1rem);
  min-height: calc(100vh - var(--footer-height) - var(--header-height) - 2rem);
}

.full-height {
  min-height: calc(100vh - var(--footer-height) - var(--header-height) - 2rem);
}

footer {
  margin-bottom: 1rem;
}
.logo {
  height: var(--footer-height);
  margin-left: 2rem;
  margin-right: 2rem;
}

.statstable > tr > th,
.statstable > tbody > tr > th {
  font-weight: bold;
}

.statstable > tr > td,
.statstable > tbody > tr > td {
  font-weight: bold;
  color: gray;
}

.statstable ul {
  color: gray;
  list-style-type: none;
  padding-left: 0rem;
}
ul.nostyle {
  list-style-type: none;
  padding-left: 0rem;
}
.progress-info label {
  font-size: 12px;
  vertical-align: bottom;
}

.fs-tiny {
  font-size: 14px;
}
